Project1/.vs/Project1/v14/.suo
Project1/Debug/Project1.exe
Project1/Debug/Project1.ilk
Project1/Debug/Project1.pdb
Project1/Project1.sdf
Project1/Project1/Debug/Project1.log
Project1/Project1/Debug/Project1.tlog/CL.read.1.tlog
Project1/Project1/Debug/Project1.tlog/CL.write.1.tlog
Project1/Project1/Debug/Project1.tlog/Project1.lastbuildstate
Project1/Project1/Debug/Project1.tlog/cl.command.1.tlog
Project1/Project1/Debug/Project1.tlog/link.command.1.tlog
Project1/Project1/Debug/Project1.tlog/link.read.1.tlog
Project1/Project1/Debug/Project1.tlog/link.write.1.tlog
Project1/Project1/Debug/Project1.tlog/rc.command.1.tlog
Project1/Project1/Debug/Project1.tlog/rc.read.1.tlog
Project1/Project1/Debug/Project1.tlog/rc.write.1.tlog
Project1/Project1/Debug/baddie.obj
Project1/Project1/Debug/bullet.obj
Project1/Project1/Debug/main.obj
Project1/Project1/Debug/spaceship.obj
Project1/Project1/Debug/vc140.idb
Project1/Project1/Debug/vc140.pdb
Project1/Debug/libjpeg-9.dll
Project1/Debug/libpng16-16.dll
Project1/Debug/libtiff-5.dll
Project1/Debug/libwebp-4.dll
Project1/Debug/zlib1.dll
